[report]
   omit =
    *env/*
    */__pycache__/*
    *.pyc
    *venv/*
    *asyncio/*
    *concurrent/*
    *ctypes/*
    *decimal.py
    *encodings/*
    *hmac.py
    *html/*
    *http/cookiejar.py
    *mimetypes.py
    *multiprocessing/*
    *numbers.py
    *stringprep.py
    *uuid.py
    */site-packages/*
    *fixtures/*
    *fileinput.py*
    *typing.py*
    *_bootlocale.py*
    *crypt.py
    *__init__.py*
